<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{TIER NAME}</title>
    <meta name="author" content="{DEIN NAME}" />
    <link href="../zoo-style.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <h1>{TIER NAME}</h1>
        <img src="{BILD}" alt="{BILD_BESCHREIBUNG}" />
        <p>
            {TEXT}
        </p>
        <a href="{WIKIPEDIA_LINK}">Quelle: Wikipedia</a>
    </div>    
</body>

</html>